[Unit]
Description=Mount the vivadocontainment scratch disk
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/vc-scratch

[Install]
WantedBy=multi-user.target
